# This is the .env file for the project.
# All of the environment variables are stored in this file.

# ========
# SECTION 1: Postgres Database Configuration.
# ========

# SSL: Set to 'true' when connecting to AWS RDS. Set to 'false' for local databases.
DB_SSL=true
DB_SSL_CERT=/certs/global-bundle.pem

# 1.0. Database Settings:
DB_LOGGING=true

DB_POOL_MAX=20 # Maximum number of connections in the pool.
DB_POOL_MIN=5 # Minimum number of connections in the pool.
DB_POOL_IDLE_TIMEOUT=30000 # Idle timeout in milliseconds.
DB_POOL_CONNECTION_TIMEOUT=5000 # Connection timeout in milliseconds.

# 1.1. API Gateway:
DB_HOST_API_GATEWAY=localhost
DB_PORT_API_GATEWAY=5432
DB_USERNAME_API_GATEWAY=postgres
DB_PASSWORD_API_GATEWAY=password
DB_DATABASE_API_GATEWAY=api_gateway

# 1.2. Platform:
DB_HOST_PLATFORM=localhost
DB_PORT_PLATFORM=5432
DB_USERNAME_PLATFORM=postgres
DB_PASSWORD_PLATFORM=password
DB_DATABASE_PLATFORM=platform

# 1.3. Invoices:
DB_HOST_INVOICES=localhost
DB_PORT_INVOICES=5432
DB_USERNAME_INVOICES=postgres
DB_PASSWORD_INVOICES=password
DB_DATABASE_INVOICES=invoices


# ========
# SECTION 2: Redis Configuration.
# ========

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0


# ========
# SECTION 3: Microservices Configuration.
# ========

# 3.1. API Gateway:
API_GATEWAY_HOST=localhost
API_GATEWAY_PORT=4000

# 3.2. Platform Service:
PLATFORM_SERVICE_HOST=localhost
PLATFORM_SERVICE_PORT=4001

# 3.3. Invoices Service:
INVOICES_SERVICE_HOST=localhost
INVOICES_SERVICE_PORT=4002


# ========
# SECTION 4: JWT Configuration.
# ========

JWT_ACCESS_SECRET=your-super-secret-access-token-key-change-this-in-production
JWT_REFRESH_SECRET=your-super-secret-refresh-token-key-change-this-in-production


# ========
# SECTION 5: Other Configurations.
# ========

API_GATEWAY_MAX_THREADS=4
PLATFORM_MAX_THREADS=2
INVOICES_MAX_THREADS=4

# ========
# SECTION 6: CORS Configuration.
# ========

ACCEPTED_ORIGINS=http://localhost:3000,http://localhost:4000