# This is the .env file for the project.
# All of the environment variables are stored in this file.

# ========
# SECTION 1: Postgres Database Configuration.
# ========

# SSL: Set to 'true' when connecting to AWS RDS. Set to 'false' for local databases.
DB_SSL=true
DB_SSL_CERT=/certs/global-bundle.pem

# 1.1. Database Settings:
DB_LOGGING=true

DB_POOL_MAX=20 # Maximum number of connections in the pool.
DB_POOL_MIN=5 # Minimum number of connections in the pool.
DB_POOL_IDLE_TIMEOUT=30000 # Idle timeout in milliseconds.
DB_POOL_CONNECTION_TIMEOUT=5000 # Connection timeout in milliseconds.

# 1.2. Database Settings:
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=seikyu_project_v2

# ========
# SECTION 2: Redis Configuration.
# ========

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# ========
# SECTION 3: Application Configuration.
# ========

APP_HOST=localhost
APP_PORT=3000

# ========
# SECTION 4: JWT Configuration.
# ========

JWT_ACCESS_SECRET=your-super-secret-access-token-key-change-this-in-production
JWT_REFRESH_SECRET=your-super-secret-refresh-token-key-change-this-in-production
